<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>
</head>
<body style="background-color: cadetblue; text-align: center;"">
    <h1 style="color: whitesmoke;">Welcome!</h1>
    <h4>{{ num }}</h4>
    <h5>{{ color }}</h5>
    {% for i in range(0,num) %}
        <div style="display: inline-block; border: 3px solid black; height: 100px; width: 100px; margin: 20px; padding: 20px; background-color: {{color}}">
</div>
    {% endfor %}
</body>
</html>